!!!
html(ng-app="docBuilder")
  head
    meta(charset='utf8')
    base(href='/')
    title Nutritionix API Doc
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='/css/font-awesome.css')
    link(rel="stylesheet", type="text/css", href="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css")
    link(rel="stylesheet", type="text/css", href="/css/app.css")

  body
    block body